.Impostazioni {
    
    .nav-item.active {
        border-bottom: solid 2px var(--gray-900);
    }
    .nav-link {
        cursor: pointer;
    }
    .password-change{
        margin-top:10px;
    }
}