@import '../../../theme/variables';

.level-tree-tooltip-container {
  margin: 0;
  margin-top: 2px;
  border: 0;
  border-radius: 0;
  position: relative;
  padding-left: 25px;
  .session-time {
    color: $dashboard-dark-grey;
    font-size: 14px;
    font-weight: bold;
  }
  .session-step {
    color: rgba($dashboard-dark-grey, .5);
    font-size: 12px;
  }
  .session-speed {
    color: rgba($dashboard-dark-grey, .5);
    font-size: 12px;
  }
  .tooltip-bar {
    position: absolute;
    left: 0;
    width: 4px;
    top: 0;
    bottom: 0;
    &.bar-success {
      background: $dashboard-green;
    }
    &.bar-insuccess {
      background: $dashboard-red;
    }
  }
}

.LevelTreeEditProgress {
  color: $dashboard-dark-grey;
  .show-speed-check {
    color: $dashboard-dark-grey;
  }
  .border-b-strong {
    border-bottom-width: 2px !important;
  }
  .border-t-strong {
    border-top-width: 2px !important;
  }

  .exercise-det{
    display:flex;
    align-items:center;
  }

  .level-tree-header {
    color: rgba($dashboard-dark-grey, .5);
    font-size: 12px
  }
  .target-label {
    font-size: 17px;
    line-height:50px;
  }
  .exercise-label {
    height: 50px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: clip;
    line-clamp: 1;
    display: flex;
    align-items: center;
    &.completed {
      .exercise-completation {
        background: $dashboard-green;
      }
    }
    &.in-progress {
      .exercise-completation {
        background: $dashboard-yellow;
      }
    }
    .exercise-completation {
      height: 16px;
      width: 7px;
      border-radius: 8px;
      margin-right: 5px;
      background: white;
      float:left;
    }
  }
  .session-row {
    height: 27px;
    display: flex;
    align-items: center;
    &.even {
      background: #F4F3F3;
    }
    position: relative;
    .session-point {
      position: absolute;
      &.point-success {
        background: $dashboard-green;
      }
      &.point-insuccess {
        background: $dashboard-red;
      }
    }
  }

  .exercise-link a{
    text-decoration: underline;
    color: $dashboard-dark-grey;
  }



}
