
  .Routes{
      position: relative;
      height: 100%;

      .route-section{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
      }

      .fade-enter {
          opacity: 0.01;
          z-index: 1;
      }

      .fade-enter.fade-enter-active {
          opacity: 1;
          transition: opacity 300ms ease-in;
      }

      .fade-exit {
          opacity: 1;
      }

      .fade-exit.fade-exit-active {
          opacity: 0.01;
          transition: opacity 300ms ease-in;
      }

      .slide-right-enter {
          transform: translate3d(-100%, 0, 0);
          z-index: 1;
      }

      .slide-right-enter.slide-right-enter-active {
          transform: translate3d(0, 0, 0);
          transition: transform 300ms ease-in;
      }

      .slide-right-exit {
          transform: translate3d(0, 0, 0);
      }

      .slide-right-exit.slide-right-exit-active {
          transform: translate3d(100%, 0, 0);
          transition: transform 300ms ease-in;
      }

      .slide-left-enter {
          transform: translate3d(100%, 0, 0);
          z-index: 1;
      }

      .slide-left-enter.slide-left-enter-active {
          transform: translate3d(0, 0, 0);
          transition: transform 300ms ease-in;
      }

      .slide-left-exit {
          transform: translate3d(0, 0, 0);
      }

      .slide-left-exit.slide-left-exit-active {
          transform: translate3d(-100%, 0, 0);
          transition: transform 300ms ease-in;
      }
  }
