$dark: #212b36;
$breadcrumb-divider: quote('>');
$enable-rounded: false;
$button-circle-lg: 50px;
$dashboard-green: #2DC268;
$dashboard-red: #ED6347;
$dashboard-yellow: #EFE23B;
$dashboard-light-grey: #F4F3F3;
$dashboard-dark-grey: #212B36;
$dashboard-dark-grey2: #C4CDD5;
