@import '../../../theme/variables';

.PCLevelCard{
  .level-title{
    font-size: 12px;
    color:$dashboard-dark-grey;
    opacity: 0.5;
    text-transform: uppercase;
  }
  .level-name{
    font-size: 20px;
  }
  .level-value{
    font-size:20px;
  }
}
