@import '../../../theme/variables';

.SessionCardComunicator {
  border: 1px solid #dee2e6;

  .exercise-title{
    font-size: 12px;
    color:$dashboard-dark-grey;
    opacity: 0.5;
    text-transform: uppercase;
  }
  .exercise-name{
    font-size: 20px;
  }

  .exercise-value{
    font-size:20px;
  }
}
