.Breadcrumb {
  margin-top: 56px;

  .breadcrumb {
    background-color: white;
    border-bottom: 1px solid #c4cdd5;
    border-radius: 0;
    padding: 1.45rem 1rem;
  }

  .breadcrumb-item {
    font-size: 1.25rem;
    a {
      color: var(--gray-900);
      border-bottom: 2px solid var(--gray-900);
      text-decoration: none;
    }
  }
}
